/* .bg-black {
  background-color: black;
} */

/* Animations */

@keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-1rem) scale(0.9);
    }
    100% {
      opacity: 1;
      transform: translate(0rem) scale(1);
    }
  }
  .fade-down {
    animation: fade-down 0.5s  backwards;
  }

/* About */
.scroll {
  position: relative;
  display: flex;
  width: 700px;
  overflow: hidden;
  /* -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%,#fff 80%, transparent) */
}

.scroll div {
  white-space: nowrap;
}

/* Testimonials */
/* .card-testimonial:hover {

} */